.hid-obj {
    display: none;
    text-align: center;
}

body {
    background-image: url("/static/images/2.jpg");
}

canvas {
    margin: 0;
    padding: 0;
    text-align: center;
}
#ans {
    text-align: center;
}

#enter {
    margin:auto; 
    height:100px; 
    text-align: center;  
    font-size: 40pt; 
}

#label1 {
    margin: auto;
    width: 250pt;
    height: 50pt;
    text-align: center;
    padding-right:10px;
    font-size: 24pt;  
    margin-left: 20pt;  
}

#label2 {
    margin: auto;
    width: 250pt;
    height: 50pt;
    text-align: left;
    padding-right:10px;
    font-size: 24pt;
}

#label3 {
    margin: auto;
    width: 250pt;
    height: 50pt;
    text-align: left;
    font-size: 24pt;
    margin-left: 342pt;
}

#label4 {
    margin: auto;
    width: 250pt;
    height: 50pt;
    text-align: center;
    font-size: 24pt;
    margin-right: 20pt;
}

html {
    overflow: hidden;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 24px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
