.hid-obj {
    display: none;
    text-align: center;
}

body {
    background-image: url("/static/images/2.jpg");
}

canvas {
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0;
    padding: 0;
    text-align: center;
}

#enter {
    margin:auto; 
    height:100px; 
    text-align: center;  
    font-size: 40pt; 
}

html {
    overflow: hidden;
}
